<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="uikit example">
    <meta name="author" content="myname">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='/css/uikit.min.css') }}" rel="stylesheet">
    <script type=text/javascript src="{{ url_for('static', path='/js/uikit.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', path='/js/uikit-icons.min.js') }}"></script>
    <link rel="shortcut icon" href="#">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <style>
        .uk-navbar{
            background-color: #263238 !important;
        }
        .uk-navbar *{
            color: white !important;
        }
    </style>
</head>
<body class="text-center">
  <header>
    <nav class="uk-container uk-navbar">
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">My Site</a>
        <ul class="uk-navbar-nav uk-visible@s">
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@s">
          <!-- navigation menu -->
          {% include 'base_menu.html' %}
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
      </div>
    </nav>
    <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
          <!-- navigation menu -->
          {% include 'base_menu.html' %}
        </ul>
      </div>
    </div>
  </header>
  <!-- main content -->
  <main>
    <div class="uk-container uk-height-max-large uk-overflow-auto uk-width-expand">
        {% block content %}
        <!-- コンテンツ部分 -->
        {% endblock %}
    </div>
  </main>
  <script>
    //ファイルのdrag&dropを禁止します。
    window.addEventListener('dragover', function(e){
        e.preventDefault();
    }, false);
    window.addEventListener('drop', function(e){
        e.preventDefault();
        e.stopPropagation();
    }, false);    
  </script>
</body>
</html>